<!-- github comments -->
<div>    
    <br/>
    <div id="tcomment"></div>
    <script src="https://utteranc.es/client.js"
            repo="plume/plume.github.io" 
            issue-term="title"
            theme="github-light"
            crossorigin="anonymous"
            async>
    </script>
    <span id="busuanzi_container_site_pv">
	  本站总访问量<span id="busuanzi_value_site_pv"></span>次
	  本站访客数<span id="busuanzi_value_site_uv"></span>人次
	  本文总阅读量<span id="busuanzi_value_page_pv"></span>次
 </span>
</div>
